<section class="layout-column align-items-center mt-50">
  <input #appInput type="text" class="large" placeholder="Enter Country Name"
           id="app-input" data-test-id="app-input" />

  <ul *ngIf="_searchList.length" class="card country-list" data-test-id="countryList" >
    <li *ngFor="let country of _searchList" class="pa-10 pl-20">{{country}}</li>
  </ul>
  <div *ngIf="!_searchList.length" class="mt-50 slide-up-fade-in" id="no-result" data-test-id="no-result">No Results Found</div>
</section>
